
/* CSS for the password page */

.code {
  
  background: #000000;
  color: #ecf0f1;
  height: 300px;
  
}

.row_fluid {
    max-width: 1000px;
    padding: 3rem 4rem;
}

.button1 {
    margin-left: 43%;
}

#label {
    font: normal 18px;
   
}

/* CORRECT GUESS */
.button2 {
    display: none;
    margin-left: 41%;
    width: 120px;

    background-color: #4CAF50; 
    border: none;
    color: white;
}

.button2:hover
{
  color: white;
}

  #input
{
  transition: width 0.4s ease-in-out;
  width: 50%;
  
}

#input:focus {
  width: 100%;
}